.mr-cust {
  margin-right: 50px !important;
  font-size: 28px !important;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.navbar-nav > li > a {
  position: relative;
  display: block !important;
}

a {
  background-color: transparent;
}

.icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  margin: 4px 0px;
  background-color: #efefef !important;
}

.cust-border {
  border: 1px solid #efefef !important;
  border-radius: 5px !important;
}

.row-cust {
  display: flex;
  margin: 0px 15px;
}

.hidden-md-up {
  display: none;
}

.col-cust {
  width: 50%;
}

.top-register {
  color: #0061fd;
  font-size: 14px;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  background: #fff;
  display: block;
  text-transform: uppercase;
  padding: 10px 20px;
  font-family: "Cabin", sans-serif;
  font-weight: 700;
}

@media (max-width: 991px) {
  .cust-border {
    margin-right: 13px !important;
  }
  .hidden-md-up {
    display: flex;
  }
}
