<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p>
          Copyright © 2020 A X X Y L. All Rights Reserved |
          <a routerLink="/privacypolicy">Privacy Policy</a> |
          <a routerLink="/termandcondition">Terms & Conditions</a>
        </p>
        <ul class="footer_social">
          <li>
            <a routerLink="#">
              <fa-icon [icon]="faFacebookSquare"></fa-icon>
            </a>
          </li>
          <li>
            <a href="#">
              <fa-icon [icon]="faTwitterSquare"></fa-icon>
            </a>
          </li>
          <li>
            <a href="#"><fa-icon [icon]="faLinkedin"></fa-icon> </a>
          </li>
          <li>
            <a href="#">
              <fa-icon [icon]="faPinterestSquare"></fa-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
