<section id="feature-new" class="section-white">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-4 text-center">
        <h2 class="section-title">Amazing Features</h2>
        <p class="section-subtitle">
          An amazing feature AXXYL can provide is a lower cost service to and
          from airports and anywhere else you travel to than any other provider
          without the high costs.
        </p>
      </div>
      <div class="col-md-6 pt-5">
        <div class="features_item">
          <div class="dropcaps_right">
            <div class="mt-3">
              <fa-icon [icon]="faCar" class="features_icons"></fa-icon>
            </div>
          </div>
          <div class="text_align_right">
            <h4>3 TYPES OF FEATURED CARS</h4>
          </div>
        </div>
        <div class="features_item">
          <div class="dropcaps_right">
            <div class="mt-3">
              <fa-icon [icon]="faShieldAlt" class="features_icons"></fa-icon>
            </div>
          </div>
          <div class="text_align_right">
            <h4>Online Secure Payment</h4>
          </div>
        </div>
        <div class="features_item">
          <div class="dropcaps_right">
            <div class="mt-3">
              <fa-icon [icon]="faMapMarker" class="features_icons"></fa-icon>
            </div>
          </div>
          <div class="text_align_right">
            <h4>Live Geotracking</h4>
          </div>
        </div>
        <div class="features_item">
          <div class="dropcaps_right">
            <div class="mt-3">
              <fa-icon [icon]="faComments" class="features_icons"></fa-icon>
            </div>
          </div>
          <div class="text_align_right">
            <h4>24/7 Email Support Link</h4>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 wow slideInUp"
        data-wow-delay="0.5s"
        style="
          visibility: visible;
          animation-delay: 0.5s;
          animation-name: bounceIn;
        "
      >
        <img
          src="./assets/shape-2.png"
          alt="picture"
          class="width-100"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
