<div id="Passanger">
  <div>
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create an Account as Passanger</h4>
        <button type="button" class="close">&times;</button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="firstname">First Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="SFname"
                  placeholder="Enter First Name"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="lastname">Last Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="SLname"
                  placeholder="Enter Last Name"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  id="Semail"
                  placeholder="Enter Enter email"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="phone">Phone Number</label>
                <input
                  type="text"
                  class="form-control"
                  id="Sphone"
                  placeholder="Enter Phone Number"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="password">Confirm Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="Spassword"
                  placeholder="Enter Confirm Password"
                />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="password">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="SCpassword"
                  placeholder="Enter Password"
                />
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <input type="checkbox" id="sCHECKBOX" class="form-control1" />
                You agree to our
                <a href="/pages/termandcondition">Terms & Conditions</a>,
                <a href="/pages/privacypolicy" traget="_blank">Privacy Policy</a
                >.
              </div>
            </div>
            <div class="col-md-12">
              <button
                type="button"
                onclick="simpleregistration();"
                class="btn btn-primary"
              >
                Sign up Now!
              </button>
              <span style="margin-left: 10px" id="SMES"></span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
