<section class="download-app-wrapper" id="download-app">
  <div class="download-app-wrapper-overlay"></div>
  <div class="shape-grey-image-top"></div>

  <!--begin container -->

  <div class="container">
    <!--begin row -->

    <div class="row">
      <!--begin col-md-5-->

      <div class="col-md-6 pt-5">
        <h2 class="title-download-app-padding white-text">
          Download AXXYL App Now!
        </h2>
        <p class="white-text">
          Drivers: 30 free trial for drivers - Customers: download the app
          FREE!<br />
          AXXYL does not store or sell information regarding customers or
          Drivers
        </p>
        <a href="#" class=""
          ><img src="assets/images.png" width="200" style="margin-right: 20px"
        /></a>
        <a href="#">
          <img class="mtd-cust" src="assets/google.png" width="200"
        /></a>
      </div>

      <!--end col-md-5-->

      <!--begin col-md-7-->

      <div class="col-md-6 wow slideInRight">
        <img
          src="assets/download-app-iphone.png"
          alt="picture"
          class="download-app-iphone width-100"
        />
      </div>

      <!--end col-md-7-->
    </div>

    <!--end row -->
  </div>

  <!--end container -->
</section>
