<app-header> </app-header>

<section class="content-area" style="padding-top: 92px">
  <div class="container">
    <div class="page-title">FEES AND TAXES</div>
    <div class="row">
      <div class="col-md-12">
        <h3>AXXYL THE APP THAT BRINGS PEOPLE TOGETHER!</h3>

        <p>
          <strong>AXXYL </strong>the share ride designed for the independent
          drivers in mind.
        </p>

        <p>
          Why work for a company that deducts up to 35% of your earnings for
          profit.
        </p>

        <p>Or</p>

        <p>
          Why have your ride fare include up to 35% deductions for you to use
          there app?
        </p>

        <p>
          Lower cost for customers and higher pay for drivers. This Gives Axxyl
          a leading edge platform over all share ride and taxi services. Giving
          you the driver more control over your income and cost. While giving
          the customer a great lower cost alternative to all the others.
        </p>

        <p>
          It&rsquo;s your car, it&rsquo;s your car loan, this time you deduct
          your cost from the fares.
        </p>

        <p>
          Work for yourself, tax deductible monthly fee, AXXYL doesn&rsquo;t
          deduct a continuance of trip percentages from the total fares as
          earnings. You make all the money from the fare including tips.
        </p>

        <p>
          For a low monthly tax deductible fee of $39.99+ 1.5-3.5% for each
          credit card transaction fee.
        </p>

        <p>
          Note: credit card fees range from 1.5% - 4% depends on the volume of
          transactions per month. the more transactions the lower the fee.
        </p>

        <h4>FEES AND TAXES</h4>

        <p>
          Airport Fees not included: all city airports with pickup and or drop
          off fees are subject to the fees of that airport. AXXYL inc does not
          pay these fees and taxes. All airport fees will be included into the
          fares calculated for those airports.
        </p>

        <p>
          AXXYL will deduct the appropriate airport fees from each driver that
          it applies. the fares for all airports in which that driver is working
          at no extra cost to the drivers.
        </p>

        <p>
          Billing statements will include number and amount billed of services
          to and from airports. These fees will be added to the original fares
          at the time of service request and acceptance.
        </p>

        <h4>EXAMPLE</h4>

        <p>original fare drop off $23.80 airport fee &amp; taxes 3.60</p>

        <p>Total fare $27.40</p>

        <p>Optimal Tip $3.00</p>

        <p>Total cost $30.40</p>

        <h4>Deductions:</h4>

        <p>Minus airport fees&amp;taxes $3.60</p>

        <p>Minus cc transaction fee .30</p>

        <p>Fee&amp;tax total $3.90</p>

        <p>Driver total earnings: $26.50</p>
      </div>
    </div>
  </div>
</section>
