<section class="section-grey" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="section-title">How It Works</h2>
        <p class="section-subtitle">
          Axxyl is a mobile app designed for the Independent Contractors
          (drivers) in mind. For only <strong>$49.99 a month</strong>, you can
          schedule your own Flexible work hours and work weeks while also
          keeping <strong>100%</strong> of the ride share fare earned. Axxyl,
          will use are team of experts to assess your feed back from drivers and
          customers to deliver outstanding service above all other ride sharing
          services.
        </p>
      </div>
      <div class="col-md-4">
        <div class="main-services">
          <img
            src="./assets/location.png"
            class="width-100"
            alt="pic"
            loading="lazy"
          />
          <h3>Pick up at any location</h3>
          <p>
            Axxyl will be available nationwide.<br />
            Airports will be available but are subject to change based on ride
            share approval of the airport.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="main-services">
          <img
            src="./assets/ticket.png"
            class="width-100"
            alt="pic"
            loading="lazy"
          />
          <h3>Book a Ride</h3>
          <p>
            Axxyl app download is free for everyone. You must be 18 years of age
            to use Axxyl services.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="main-services">
          <img
            src="./assets/main-service1.png"
            class="width-100"
            alt="pic"
            loading="lazy"
          />
          <h3>Available Airports Service</h3>
          <p>
            We are currently working on approval from airports through out the
            USA. Many airports are accessible for drop off only.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
