<app-header></app-header>
<section class="content-area" style="margin-top: 50px">
  <div class="container">
    <div class="page-title">Privacy Policy</div>
    <div class="row">
      <div class="col-md-12 terms-page">
        <p>
          At AXXYL INC.("we", "us", or "our"), privacy is a top priority, and we
          are committed to protecting the personal information of our customers.
          This Privacy Policy provides details on how we treat any personal
          information you may submit to us. If you provide any personally
          identifying information to us, we want you to understand our efforts
          to protect that information which are outlined in the following
          sections of this Privacy Policy.
        </p>
        <h5>WHY WE COLLECT YOUR INFORMATION</h5>
        <p>
          We will collect and use personal information about you and provided by
          you to respond to your request for axxyl services offered through the
          <a href="http://axxyl.com">axxyl.com</a> website (the "Site").
          Depending on the services you've chosen, Axxyl may use this
          information to begin the process of determining the eligibility
          &nbsp;of each applicant and to obtain an independent contractor driver
          you are seeking. Specifically, your information should help us assist
          you with selecting a Place you can get your background check. In
          addition, we collect your information to contact you (if necessary)
          during your application.
        </p>
        <h5>HOW WE USE YOUR INFORMATION</h5>
        <p>
          In addition to what we've referenced above, we use information you
          provide on the axxyl .com website (the "Site") to gather information
          from the appropriate third-party background check companies that we
          consider to be trustworthy - with the intent that they, in turn,
          provide axxyl with information to qualify you for a driver. Also,
          based on the details you've provided, both we, and the third parties,
          may use this information to contact you about additional Information
          if necessary that may be of helpful axxyl and to you. If you do not
          wish to become a driver or user of our services you should not provide
          personal information or contact information through this site. Also,
          if you have already provided personal and/or contact information to
          us, you may review the Section entitled How to Change or Remove Your
          Information below (which provides you with an opportunity to Opt-Out
          from receiving (special offers) - or you may simply&nbsp; email
          <a href="mailto:support@axxyl.com" target="_blank"
            >support@axxyl.com</a
          >&nbsp; from <a href="http://axxyl.com">axxyl.com</a> website.
          However, to opt-out from our third-party background check procedures
          with whom you may have already been in contact, you would need to
          follow their opt-out processes accordingly.
        </p>
        <h5>HOW IT WORKS</h5>
        <p>
          We will submit all the information we gather from you during the
          Registration process to the third party we selected.&nbsp;
        </p>
        <h5>HOW WE COMMUNICATE WITH YOU</h5>
        <p>
          We may contact you by telephone to verify information and to assist
          you with your &nbsp;application for driver. We may also contact you by
          phone, email or by postal mail to verify information, to assist you
          with your drivers application, to conduct surveys, to provide you with
          additional information regarding product or service announcements and
          to make you aware of special offers or other money-saving
          opportunities.
        </p>
        <h5>COOKIES</h5>
        <p>
          A cookie is a small text file saved on your computer's hard drive and
          stored in memory while your (internet) browser is running. Cookies
          make it easier for an internet user to navigate the World Wide Web and
          to complete transactions over the internet. Usage of a cookie is in no
          way linked to any personally identifiable information while on our
          site. We may contract with certain partners that utilize ad serving
          technology. To gauge the effectiveness of advertisements, a campaign
          number is assigned to the vendor for which you came to visit our site.
          This will remain on your web page URL when you return to our site. You
          may elect to disable cookies in your browser or also clear your
          browsing history to better ensure the cookies may be removed. Please
          refer to your computer or operating system user manual for information
          on how to disable cookies or also clear your browsing history.
        </p>
        <h5>THIRD-PARTY ADVERTISING AND YOUR AD CHOICES</h5>
        <p>
          We use third-party advertising companies on our site. Some of these
          advertisers may use technology such as cookies that collect
          information when they advertise on our site. Some of these companies
          may use this information (which does not include personally
          identifiable information such as your name or email address) about
          your visits to the Site and other websites in order to provide
          advertisements about goods and services of interest to you.
        </p>
        <p>
          If you would like more information about this practice and to know
          your choices about not having this information used by these
          companies,&nbsp;We have a timely response to Web browser "do not
          track" signals or other mechanisms that our consumers utilize to
          exercise choice regarding the collection of their personal information
          about their online activities over time.
        </p>
        <h5>A SPECIAL NOTE ABOUT CHILDREN'S PRIVACY</h5>
        <p>
          You must be at least 18 years old to use the Site. We do not knowingly
          collect, use or disclose personal information about visitors under 18
          years of age. If you are under 18 years of age, you can use the
          services offered on our website only in conjunction with your parents
          or guardians. Please see our&nbsp;<u>(terms and conditions) f</u>or
          more information.
        </p>
        <h5>INFORMATION RELEASE AND SECURITY</h5>
        <p>
          Unless you give us permission to do so, or as otherwise required or
          permitted by law, we do not willfully use or disclose personally
          identifiable information to third parties for any purpose other than
          described in this Privacy Policy. We have security provisions in place
          to help protect your information. For example, we limit access to
          personal information to those employees or agents who assist us in
          providing requested products and services to you and maintain
          physical, electronic and procedural safeguards that comply with or
          exceed federal standards to guard personal information about you.
          However, please be aware that no security system is impenetrable.;
        </p>
        <h5>HOW TO CHANGE OR REMOVE YOUR INFORMATION</h5>
        <p>
          If you have received a communication from us in error, or if you wish
          to change or update your information, please email us at
          <a href="mailto:support@axxyl.com" target="_blank"
            >support@axxyl.com</a
          >
          with your request, and we will promptly remove your contact
          information from our database.
        </p>
        <p>
          Please note that third-party advertisers which maintain their own
          mailing lists may send communications that advertise or mention our
          services. You would need to contact these third parties directly in
          order to stop receiving their communications.
        </p>
        <h5>THIRD-PARTY LINKS</h5>
        <p>
          This Privacy Policy applies to all information that you provide on the
          Site. However, when you visit websites to which Axxyl.com links, keep
          in mind you will be interacting with a third party that operates under
          its own privacy and security policy. If you choose to obtain certain
          services through a third-party site, the data collected by the third
          party is governed by that third-party's privacy policy. A third-party
          website should also have its own policy regarding the use of cookies
          and clear gifs. We encourage you to review the privacy policies of any
          other service provider from whom you request services.
        </p>
        <h5>YOUR AGREEMENT</h5>
        <p>
          By using the Site, you signify your assent to this Privacy Policy. If
          you do not agree to this policy, please do not use any portion of the
          Site. When you request to use axxyl application services axxyl other
          information through the Site, you are authorizing us to share
          information with us and our trusted third parties, who may contact you
          by phone, email or mail. If you do not want further communication from
          them, please notify the partner or business directly. If you ever have
          questions about our Privacy Policy, please email us at
          <a
            href="mailto:support@eCoverage.com"
            style="
              box-sizing: border-box;
              color: rgb(11, 101, 212);
              background-color: transparent;
            "
            target="_blank"
            >support@axxyl.com</a
          >. We take your privacy very seriously.
        </p>
        <h5>CHANGES TO THIS PRIVACY POLICY</h5>
        <p>
          We reserve the right to make changes to this Privacy Policy at any
          time. If there are material changes to this Privacy Policy or in how
          we will use your personal information, we will prominently post notice
          about such changes on the Site. However, you should check this Privacy
          Policy each time you use the Site to ensure that you are aware of any
          changes in our privacy practices. Our Privacy Policy will indicate the
          date it was last updated. Your continued use of our Site after we have
          posted any Privacy Policy changes indicates your agreement to the
          changes unless you notify us otherwise.
        </p>
        <p><strong>Last Updated: May 2017</strong></p>
      </div>
    </div>
  </div>
</section>
