<div id="Driver">
  <div>
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create an Account as Driver Profile.</h4>
        <span class="close-cust" (click)="modal.dismiss()"> &times; </span>
      </div>
      <div class="modal-body">
        <form
          novalidate
          #driverForm="ngForm"
          id="driver-form"
          enctype="multipart/form-data"
          accept-charset="utf-8"
        >
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="firstname">First Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="DFname"
                  placeholder="Enter First Name"
                  ngModel
                  required
                  name="DFname"
                  [pattern]="fieldPattern"
                />
                <div class="text-danger mt-1 ml-2">
                  <span
                    *ngIf="
                      driverForm.form.controls.DFname?.invalid &&
                      (driverForm.form.controls.DFname?.dirty ||
                        driverForm.form.controls.DFname?.touched ||
                        formSubmitted)
                    "
                  >
                    <span
                      *ngIf="driverForm.form.controls.DFname?.errors?.required"
                    >
                      Please Enter first name
                    </span>
                    <span
                      *ngIf="driverForm.form.controls.DFname?.errors?.pattern"
                    >
                      Please Enter valid first name
                    </span>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="lastname">Last Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="DLname"
                  placeholder="Enter Last Name"
                  ngModel
                  required
                  name="DLname"
                  [pattern]="fieldPattern"
                />
                <div class="text-danger mt-1 ml-2">
                  <span
                    *ngIf="
                      driverForm.form.controls.DLname?.invalid &&
                      (driverForm.form.controls.DLname?.dirty ||
                        driverForm.form.controls.DLname?.touched ||
                        formSubmitted)
                    "
                  >
                    <span
                      *ngIf="driverForm.form.controls.DLname?.errors?.required"
                    >
                      Please Enter last name
                    </span>
                    <span
                      *ngIf="driverForm.form.controls.DLname?.errors?.pattern"
                    >
                      Please Enter valid last name
                    </span>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  id="Demail"
                  placeholder="Enter Enter email"
                  ngModel
                  required
                  name="Demail"
                  [pattern]="emailPattern"
                />
                <div class="text-danger mt-1 ml-2">
                  <span
                    *ngIf="
                      driverForm.form.controls.Demail?.invalid &&
                      (driverForm.form.controls.Demail?.dirty ||
                        driverForm.form.controls.Demail?.touched ||
                        formSubmitted)
                    "
                  >
                    <span
                      *ngIf="driverForm.form.controls.Demail?.errors?.required"
                    >
                      Please Enter the email
                    </span>
                    <span
                      *ngIf="driverForm.form.controls.Demail?.errors?.pattern"
                    >
                      Please Enter valid email
                    </span>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="phone">Phone Number</label>
                <input
                  type="text"
                  class="form-control"
                  id="Dphone"
                  placeholder="Enter Phone Number"
                  ngModel
                  required
                  name="Dphone"
                  patter="[0-9]"
                />
                <div class="text-danger mt-1 ml-2">
                  <span
                    *ngIf="
                      driverForm.form.controls.Dphone?.invalid &&
                      (driverForm.form.controls.Dphone?.dirty ||
                        driverForm.form.controls.Dphone?.touched ||
                        formSubmitted)
                    "
                  >
                    <span
                      *ngIf="driverForm.form.controls.Dphone?.errors?.required"
                    >
                      Please Enter the phone number
                    </span>
                    <span
                      *ngIf="driverForm.form.controls.Dphone?.errors?.pattern"
                    >
                      Phone number is invalid
                    </span>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="password">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="Dpassword"
                  placeholder="Enter Confirm Password"
                  ngModel
                  required
                  name="Dpassword"
                />
                <div class="text-danger mt-1 ml-2">
                  <span
                    *ngIf="
                      driverForm.form.controls.Dpassword?.invalid &&
                      (driverForm.form.controls.Dpassword?.dirty ||
                        driverForm.form.controls.Dpassword?.touched ||
                        formSubmitted)
                    "
                  >
                    <span
                      *ngIf="
                        driverForm.form.controls.Dpassword?.errors?.required
                      "
                    >
                      Please Enter the password
                    </span>
                    <span
                      *ngIf="
                        driverForm.form.controls.Dpassword?.errors?.pattern
                      "
                    >
                      Password is invalid
                    </span>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="password">Confirm Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="DCpassword"
                  placeholder="Enter Password"
                  ngModel
                  required
                  name="DCpassword"
                />
                <div class="text-danger mt-1 ml-2">
                  <span
                    *ngIf="
                      (driverForm.form.controls.DCpassword?.dirty ||
                        driverForm.form.controls.DCpassword?.touched) &&
                      driverForm.form.controls.DCpassword.value &&
                      checkPassword(
                        driverForm.form.controls.DCpassword.value,
                        driverForm.form.controls.Dpassword.value
                      )
                    "
                  >
                    Password and Confirm Password are not matching
                  </span>
                  <span
                    *ngIf="
                      driverForm.form.controls.DCpassword?.invalid &&
                      (driverForm.form.controls.DCpassword?.dirty ||
                        driverForm.form.controls.DCpassword?.touched ||
                        formSubmitted)
                    "
                  >
                    <span
                      *ngIf="
                        driverForm.form.controls.DCpassword?.errors?.required
                      "
                    >
                      Please Enter the confirm password
                    </span>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="Vehicle">Vehicle Number</label>
                <input
                  type="text"
                  class="form-control"
                  id="VehicleNumber"
                  placeholder="Enter Vehicle Number"
                  ngModel
                  required
                  name="VehicleNumber"
                  [pattern]="fieldPattern"
                />
                <div class="text-danger mt-1 ml-2">
                  <span
                    *ngIf="
                      driverForm.form.controls.VehicleNumber?.invalid &&
                      (driverForm.form.controls.VehicleNumber?.dirty ||
                        driverForm.form.controls.VehicleNumber?.touched ||
                        formSubmitted)
                    "
                  >
                    <span
                      *ngIf="
                        driverForm.form.controls.VehicleNumber?.errors?.required
                      "
                    >
                      Please Enter the Vehicle Number
                    </span>
                    <span
                      *ngIf="
                        driverForm.form.controls.VehicleNumber?.errors?.pattern
                      "
                    >
                      Vehicle Number is invalid
                    </span>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="Vehicle">Select Car</label>

                <div class="input select">
                  <select
                    name="data[category_id]"
                    id="car_type"
                    class="form-control"
                    ngModel
                    required
                    name="car_type"
                  >
                    <option value="">select Car Type</option>
                    <option value="22">AXS</option>
                    <option value="23">AXM</option>
                    <option value="24">AXL</option>
                    <option value="25">AXC</option>
                  </select>

                  <div class="text-danger mt-1 ml-2">
                    <span
                      *ngIf="
                        driverForm.form.controls.car_type?.invalid &&
                        (driverForm.form.controls.car_type?.dirty ||
                          driverForm.form.controls.car_type?.touched ||
                          formSubmitted)
                      "
                    >
                      <span
                        *ngIf="
                          driverForm.form.controls.car_type?.errors?.required
                        "
                      >
                        Please select Vehicle type
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <input
                  type="checkbox"
                  class="form-control1"
                  id="dCHECKBOX"
                  ngModel
                  required
                  name="dCHECKBOX"
                />

                You agree to our
                <span (click)="goTo('/pages/termandcondition')" class="a-cust"
                  >Terms & Conditions </span
                >,
                <span (click)="goTo('/pages/privacypolicy')" class="a-cust"
                  >Privacy Policy</span
                >.
                <div class="text-danger mt-1 ml-2">
                  <span
                    *ngIf="
                      driverForm.form.controls.dCHECKBOX?.invalid &&
                      (driverForm.form.controls.dCHECKBOX?.dirty ||
                        driverForm.form.controls.dCHECKBOX?.touched ||
                        formSubmitted)
                    "
                  >
                    <span
                      *ngIf="
                        driverForm.form.controls.dCHECKBOX?.errors?.required
                      "
                    >
                      Please agree this policy
                    </span>
                  </span>
                </div>
              </div>
            </div>
            <!--<div class="col-md-12">Monthly Fee: $<span id="fee-amunt"></span></div>-->
            <button
              type="button"
              (click)="driverregistration()"
              class="btn btn-primary ml-3"
            >
              Sign up Now!
            </button>
            <span style="margin-left: 10px" id="DMES"></span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
