<div id="Driver">
  <div>
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create an Account as Driver Profile.</h4>
        <span class="close-cust" (click)="modal.dismiss()"> &times; </span>
      </div>
      <div class="modal-body">
        <form novalidate #driverForm="ngForm">
          <input hidden="true" #focusInputDriver />
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="firstname">First Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="DFname"
                  placeholder="Enter First Name"
                  name="DFname"
                  ngModel
                  required
                  [pattern]="fieldPattern"
                />
                <div class="text-danger ml-2">
                  <span
                    *ngIf="
                      driverForm.form.controls.DFname?.invalid &&
                      (driverForm.form.controls.DFname?.dirty ||
                        driverForm.form.controls.DFname?.touched ||
                        formSubmitted)
                    "
                  >
                    <span
                      *ngIf="driverForm.form.controls.DFname?.errors?.required"
                    >
                      Please Enter the first name
                    </span>
                    <span
                      *ngIf="driverForm.form.controls.DFname?.errors?.pattern"
                    >
                      First Name is invalid
                    </span>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="lastname">Last Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="DLname"
                  placeholder="Enter Last Name"
                  name="DLname"
                  ngModel
                  required
                  [pattern]="fieldPattern"
                />
                <div class="text-danger ml-2">
                  <span
                    *ngIf="
                      driverForm.form.controls.DLname?.invalid &&
                      (driverForm.form.controls.DLname?.dirty ||
                        driverForm.form.controls.DLname?.touched ||
                        formSubmitted)
                    "
                  >
                    <span
                      *ngIf="driverForm.form.controls.DLname?.errors?.required"
                    >
                      Please Enter the last name
                    </span>
                    <span
                      *ngIf="driverForm.form.controls.DLname?.errors?.pattern"
                    >
                      Last Name is invalid
                    </span>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  id="Demail"
                  placeholder="Enter Enter email"
                  name="Demail"
                  ngModel
                  required
                  [pattern]="emailPattern"
                />
                <div class="text-danger ml-2">
                  <span
                    *ngIf="
                      driverForm.form.controls.Demail?.invalid &&
                      (driverForm.form.controls.Demail?.dirty ||
                        driverForm.form.controls.Demail?.touched ||
                        formSubmitted)
                    "
                  >
                    <span
                      *ngIf="driverForm.form.controls.Demail?.errors?.required"
                    >
                      Please Enter the email
                    </span>
                    <span
                      *ngIf="driverForm.form.controls.Demail?.errors?.pattern"
                    >
                      Email is invalid
                    </span>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="phone">Phone Number</label>
                <input
                  type="text"
                  class="form-control"
                  id="Dphone"
                  placeholder="Enter Phone Number"
                  name="Dphone"
                  ngModel
                  required
                  [pattern]="fieldPattern"
                />
                <div class="text-danger ml-2">
                  <span
                    *ngIf="
                      driverForm.form.controls.Dphone?.invalid &&
                      (driverForm.form.controls.Dphone?.dirty ||
                        driverForm.form.controls.Dphone?.touched ||
                        formSubmitted)
                    "
                  >
                    <span
                      *ngIf="driverForm.form.controls.Dphone?.errors?.required"
                    >
                      Please Enter the phone number
                    </span>
                    <span
                      *ngIf="driverForm.form.controls.Dphone?.errors?.pattern"
                    >
                      Phone number is invalid
                    </span>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="password">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="Dpassword"
                  placeholder="Enter Password"
                  name="Dpassword"
                  ngModel
                  required
                  [pattern]="fieldPattern"
                />
                <div class="text-danger ml-2">
                  <span
                    *ngIf="
                      driverForm.form.controls.Dpassword?.invalid &&
                      (driverForm.form.controls.Dpassword?.dirty ||
                        driverForm.form.controls.Dpassword?.touched ||
                        formSubmitted)
                    "
                  >
                    <span
                      *ngIf="
                        driverForm.form.controls.Dpassword?.errors?.required
                      "
                    >
                      Please Enter the password
                    </span>
                    <span
                      *ngIf="
                        driverForm.form.controls.Dpassword?.errors?.pattern
                      "
                    >
                      Password is invalid
                    </span>
                  </span>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="password">Confirm Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="DCpassword"
                  placeholder="Enter Confirm Password"
                  name="DCpassword"
                  ngModel
                  required
                  [pattern]="fieldPattern"
                />
                <div class="text-danger ml-2">
                  <span
                    *ngIf="
                      driverForm.form.controls.DCpassword?.invalid &&
                      (driverForm.form.controls.DCpassword?.dirty ||
                        driverForm.form.controls.DCpassword?.touched ||
                        formSubmitted)
                    "
                  >
                    <span
                      *ngIf="
                        driverForm.form.controls.DCpassword?.errors?.required
                      "
                    >
                      Please Enter the confirm password
                    </span>
                    <span
                      *ngIf="
                        driverForm.form.controls.DCpassword?.errors?.pattern
                      "
                    >
                      Confirm password is invalid
                    </span>
                  </span>
                  <span
                    *ngIf="
                      driverForm.form.controls.DCpassword?.touched &&
                      driverForm.form.controls.DCpassword?.value &&
                      checkPassword(
                        driverForm.form.controls.DCpassword.value,
                        driverForm.form.controls.Dpassword.value
                      )
                    "
                  >
                    Password and Confirm Password are not matching
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="Vehicle">Vehicle Number</label>
                <input
                  type="text"
                  class="form-control"
                  id="VehicleNumber"
                  placeholder="Enter Vehicle Number"
                  name="VehicleNumber"
                  ngModel
                  required
                  [pattern]="fieldPattern"
                />
                <div class="text-danger ml-2">
                  <span
                    *ngIf="
                      driverForm.form.controls.VehicleNumber?.invalid &&
                      (driverForm.form.controls.VehicleNumber?.dirty ||
                        driverForm.form.controls.VehicleNumber?.touched ||
                        formSubmitted)
                    "
                  >
                    <span
                      *ngIf="
                        driverForm.form.controls.VehicleNumber?.errors?.required
                      "
                    >
                      Please Enter the vehicle number
                    </span>
                    <span
                      *ngIf="
                        driverForm.form.controls.VehicleNumber?.errors?.pattern
                      "
                    >
                      Vehicle number is invalid
                    </span>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="Vehicle">Select Car</label>

                <select
                  id="car_type"
                  class="form-control"
                  ngModel
                  name="car_type"
                  required
                >
                  <option value="">Select Car Type</option>
                  <option value="22">AXS</option>
                  <option value="23">AXM</option>
                  <option value="24">AXL</option>
                  <option value="25">AXC</option>
                </select>
                <div class="text-danger ml-2">
                  <span
                    *ngIf="
                      formSubmitted &&
                      (driverForm.form.controls.car_type?.invalid ||
                        driverForm.form.controls.car_type?.errors?.required)
                    "
                  >
                    Please Select car type
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <input
                  type="checkbox"
                  class="form-control1"
                  id="dCHECKBOX"
                  name="dCHECKBOX"
                  required
                  ngModel
                />

                You agree to our
                <span
                  (click)="goTo('AXXYL/pages/termandcondition')"
                  class="a-cust"
                  >Terms & Conditions </span
                >,
                <span (click)="goTo('AXXYL/pages/privacypolicy')" class="a-cust"
                  >Privacy Policy</span
                >.
                <div class="text-danger mt-1 ml-2">
                  <span
                    *ngIf="
                      formSubmitted &&
                      (driverForm.form.controls.dCHECKBOX?.invalid ||
                        driverForm.form.controls.dCHECKBOX?.errors?.required)
                    "
                  >
                    Please agree this policy
                  </span>
                </div>
              </div>
            </div>

            <!--<div class="col-md-12">Monthly Fee: $<span id="fee-amunt"></span></div>-->
            <button
              type="button"
              (click)="driverregistration(driverForm)"
              class="btn btn-primary ml-3"
            >
              Sign up Now!
            </button>
            <span
              *ngIf="successMessageFlag"
              class="text-success pl-3 font-weight-bold pt-3"
              [innerHTML]="successMessage"
            >
            </span>
            <span
              *ngIf="errorMessageFlag"
              class="text-danger pl-3 font-weight-bold pt-3"
              [innerHTML]="errorMessage"
            >
            </span>
            <span style="margin-left: 10px" id="DMES"></span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
