<section class="home-section" id="home_wrapper">
  <div class="home-section-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 padding-top-40">
        <h1>Welcome To AXXYL</h1>
        <!--<p>See how AXXYL can help you double to book a cab. Get more qualified leads & close deals faster.</p>-->
        <ul style="margin-top: 50px" class="home-benefits">
          <li>Featured Cars</li>
          <li>24/7 Email Support Link</li>
        </ul>
        <a href="#" class=""
          ><img
            src="./assets/images.png"
            width="250"
            style="margin-right: 20px"
        /></a>
        <a href="#" class=""><img src="./assets/google.png" width="250" /></a>
      </div>
      <div
        class="col-md-6 wow bounceIn"
        data-wow-delay="0.5s"
        style="
          visibility: visible;
          animation-delay: 0.5s;
          animation-name: bounceIn;
        "
      >
        <img
          src="./assets/download-app-iphone.png"
          class="width-100"
          alt="pic"
        />
      </div>
    </div>
  </div>
</section>
