<section class="section-lyla" id="gallery">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="section-title white">Screenshot</h2>
        <p class="section-subtitle white">
          There are many variations of passages of Lorem Ipsum available, but
          the majority<br />
          have suffered alteration, by injected humour, or new randomised words.
        </p>
      </div>
      <div class="gallery-item-wrapper padding-top-30">
        <div id="owl2" class="owl-carousel owl-theme">
          <div>
            <img
              src="/assets/showcase1.jpeg"
              alt="showcase"
              class="gallery-show"
            />
          </div>
          <div>
            <img
              src="/assets/showcase2.jpeg"
              alt="showcase"
              class="gallery-show"
            />
          </div>
          <div>
            <img
              src="/assets/showcase3.jpeg"
              alt="showcase"
              class="gallery-show"
            />
          </div>
          <div>
            <img
              src="/assets/showcase4.jpeg"
              alt="showcase"
              class="gallery-show"
            />
          </div>
          <div>
            <img
              src="/assets/showcase5.jpeg"
              alt="showcase"
              class="gallery-show"
            />
          </div>
          <div>
            <img
              src="/assets/showcase6.jpeg"
              alt="showcase"
              class="gallery-show"
            />
          </div>
        </div>
        <div class="owl-dots">
          <div class="owl-dot active"><span></span></div>
          <div class="owl-dot"><span></span></div>
          <div class="owl-dot"><span></span></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-white small-padding-bottom" id="features">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div id="owl1" class="owl-carousel owl-theme">
          <div class="testim-inner">
            <img
              src="/assets/testimonial/1479905563-testi-03.jpg"
              alt="testimonials"
              class="testim-img"
            />
            <p>Very excellent application and the fares are accurate</p>
            <!--<p>The attention of a traveller, should be particularly turned, in the first place, to the various works of Nature, to mark the distinctions of the climates he may explore, and to offer such useful observations on the different productions as may occur.</p>-->
            <h6>Alex Rezvova<span class="job-text"> - </span></h6>
          </div>
          <div class="testim-inner">
            <img
              src="/assets/testimonial/1479989558-test-04.jpg"
              alt="testimonials"
              class="testim-img"
            />
            <p>At starting it was good and when I started using AXXYL</p>
            <!--<p>The attention of a traveller, should be particularly turned, in the first place, to the various works of Nature, to mark the distinctions of the climates he may explore, and to offer such useful observations on the different productions as may occur.</p>-->
            <h6>Albin Erlend<span class="job-text"> - </span></h6>
          </div>
          <div class="testim-inner">
            <img
              src="/assets/testimonial/1479905440-testi-02.jpg"
              alt="testimonials"
              class="testim-img"
            />
            <p>Best app for booking one way cab. Nice billing system.</p>
            <!--<p>The attention of a traveller, should be particularly turned, in the first place, to the various works of Nature, to mark the distinctions of the climates he may explore, and to offer such useful observations on the different productions as may occur.</p>-->
            <h6>Jacob Kai<span class="job-text"> - Indiana, USA</span></h6>
          </div>
          <div class="testim-inner">
            <img
              src="/assets/testimonial/1479989575-testi-01.jpg"
              alt="testimonials"
              class="testim-img"
            />
            <p>this is very easy to make book the cab so i like this app</p>
            <!--<p>The attention of a traveller, should be particularly turned, in the first place, to the various works of Nature, to mark the distinctions of the climates he may explore, and to offer such useful observations on the different productions as may occur.</p>-->
            <h6>Alex Rezvova<span class="job-text"> - New York, USA</span></h6>
          </div>
        </div>
        <div class="owl-dots">
          <div class="owl-dot active"><span></span></div>
          <div class="owl-dot"><span></span></div>
          <div class="owl-dot"><span></span></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-white bottom-shape z-100" id="pricing">
  <div class="container">
    <div class="row">
      <div
        class="col-md-6 wow slideInLeft"
        data-wow-delay="0.25s"
        style="
          visibility: visible;
          animation-delay: 0.5s;
          animation-name: slideInLeft;
        "
      >
        <img src="/assets/benefits.png" class="width-100" alt="pic" />
      </div>
      <div class="col-md-6 padding-top-20">
        <h3>Get ready to discover all the benefits and secrets</h3>
        <p>
          AXXYL is a share ride service that provides the driver with total
          control over there earnings with a 100% fare earned from each ride.
          This provides a quality service based upon the driver and their
          customer service they provide to the customer.
        </p>
        <p>
          While providing great customer service And 100% fare earning to the
          driver AXXYL will deliver the best quality lower fare than the leading
          competitors.
        </p>

        <p>
          <strong>Available Cars:</strong><br />
          Axxyl will have all sorts of vehicles to suit your needs, including
          vehicles to accomedate persons with a wheel chair.
        </p>
        <!--<p>Velis demo enim ipsam voluptatem quia voluptas sit aspernatur netsum lorem fugit, sed quia magni dolores eos qui ratione sequi nesciunt neque et poris ratione sequi enim quia tempor magni.</p>
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur netsum lorem fugit, sed quia magni dolores eos qui ratione sequi.</p>
        <ul class="benefits">
          <li><i class="fa fa-check"></i> Ni Hidden Charges</li>
          <li><i class="fa fa-check"></i> 100% Safe travel with insureance.</li>
          <li><i class="fa fa-check"></i> Top rated & verified drivers</li>
          <li><i class="fa fa-check"></i> No calcellation charges</li>
        </ul>-->
        <a href="#" class=""
          ><img src="/assets/images.png" width="200" style="margin-right: 20px"
        /></a>
        <a href="#" class=""><img src="/assets/google.png" width="200" /></a>
      </div>
    </div>
  </div>
</section>
