<app-header> </app-header>
<section class="content-area" style="margin-top: 50px">
  <div class="container p-0-cust">
    <div class="row">
      <div class="col-md-6 pb-2">
        <img
          src="./assets/driver.jpg"
          width="100%"
          style="margin-bottom: 20px"
          loading="lazy"
        />
        <div class="small-head">Driver Profile</div>
        <p>
          Achieve the best independent job available today. For those people
          that strive for independence and love to work for them selves. Create
          your own future and work hours. While every penny earned is yours!
        </p>
        <ul class="benefits">
          <li>
            <i class="fa fa-check" aria-hidden="true"></i> Cancelling Power
          </li>
          <li><i class="fa fa-check" aria-hidden="true"></i> Instant Ride</li>
          <li>
            <i class="fa fa-check" aria-hidden="true"></i> Monitor Your Earnings
          </li>
          <li>
            <i class="fa fa-check" aria-hidden="true"></i> Easy Navigation :
            Street View
          </li>
        </ul>

        <a class="external discover-btn pointer" (click)="openDriver()"
          >Register Now</a
        >
      </div>
      <div class="col-md-6">
        <img
          src="./assets/video-preview.jpg"
          width="100%"
          style="margin-bottom: 20px"
          loading="lazy"
        />
        <div class="small-head">Passanger Profile</div>
        <p>
          Welcome to Axxyl where the drivers strive to give the best low cost
          ride share to you the customers. Customers that want a low cost way to
          get to their destination without sacrificing quality
        </p>
        <ul class="benefits">
          <li>
            <i class="fa fa-check" aria-hidden="true"></i> Ni Hidden Charges
          </li>
          <li>
            <i class="fa fa-check" aria-hidden="true"></i> 100% Safe travel with
            insureance.
          </li>
          <li>
            <i class="fa fa-check" aria-hidden="true"></i> Top rated &amp;
            verified drivers
          </li>
          <li>
            <i class="fa fa-check" aria-hidden="true"></i> No calcellation
            charges
          </li>
        </ul>

        <a class="external discover-btn pointer" (click)="openPassenger()"
          >Register Now</a
        >
      </div>
    </div>
  </div>

  <!--****************************START*************************************-->

  <!--******************************END***********************************-->
  <!--******************************Start***********************************-->
</section>
