<app-header> </app-header>
<section class="content-area" style="margin-top: 50px">
  <div class="container">
    <div class="page-title">Terms Condition</div>
    <div class="row">
      <div class="col-md-12 terms-page">
        <h3>1. The Services</h3>
        <p>
          The Services comprise mobile applications and related services (each,
          an "Application"), which enable users to arrange and schedule
          transportation, logistics and/or delivery services, including with
          third party providers of such services under agreement with Axxyl Inc.
          or certain of Axxyl Inc. affiliates ("Third Party Providers"). In
          certain instances the Services may also include an option to receive
          transportation, logistics and/or delivery services for an upfront
          price, subject to acceptance by the respective Third Party Providers.
          Unless otherwise agreed by Axxyl Inc. in a separate written agreement
          with you, the Services are made available solely for your personal,
          noncommercial use. YOU ACKNOWLEDGE THAT YOUR ABILITY TO OBTAIN
          TRANSPORTATION, LOGISTICS AND/OR DELIVERY SERVICES THROUGH THE USE OF
          THE SERVICES DOES NOT ESTABLISH AXXYL Inc. AS A PROVIDER OF
          TRANSPORTATION, LOGISTICS SERVICES OR AS A TRANSPORTATION CARRIER.
          AXXYL INC. SUPPLIES LOGISTICS SERVICES TO BRING DRIVERS AND CUSTOMERS
          TOGETHER FOR PERSONAL USE.
        </p>
        <h5>License.</h5>
        <p>
          Subject to your compliance with these Terms, Axxyl Inc. grants you a
          limited, non-exclusive, non-sublicensable, revocable, non-transferable
          license to: (i) access and use the Applications on your personal
          device solely in connection with your use of the Services; and (ii)
          access and use any content, information and related materials that may
          be made available through the Services, in each case solely for your
          personal, noncommercial use. Any rights not expressly granted herein
          are reserved by Axxyl Inc. and Axxyl inc’s licensors.
        </p>
        <h5>Restrictions.</h5>
        <p>
          You may not: (i) remove any copyright, trademark or other proprietary
          notices from any portion of the Services; (ii) reproduce, modify,
          prepare derivative works based upon, distribute, license, lease, sell,
          resell, transfer, publicly display, publicly perform, transmit,
          stream, broadcast or otherwise exploit the Services except as
          expressly permitted by Axxyl Inc; (iii) decompile, reverse engineer or
          disassemble the Services except as may be permitted by applicable law;
          (iv) link to, mirror or frame any portion of the Services; (v) cause
          or launch any programs or scripts for the purpose of scraping,
          indexing, surveying, or otherwise data mining any portion of the
          Services or unduly burdening or hindering the operation and/or
          functionality of any aspect of the Services; or (vi) attempt to gain
          unauthorized access to or impair any aspect of the Services or its
          related systems or networks.
        </p>
        <h5>Provision of the Services.</h5>
        <p>
          You acknowledge that portions of the Services may be made available
          under Axxyl Inc. or request options associated with transportation or
          logistics, including the transportation request brands currently
          referred to as "Axxyl , and the logistics request products. You also
          acknowledge that the Services may be made available under such brands
          or request options by or in connection with: (i) certain of Axxyl Inc.
          subsidiaries and affiliates; or (ii) independent Third Party
          Providers, including Transportation Network Company drivers,
          Transportation Charter Permit holders or holders of similar
          transportation permits, authorizations or licenses.
        </p>
        <h5>Third Party Services and Content.</h5>
        <p>
          The Services may be made available or accessed in connection with
          third party services and content (including advertising) that Axxyl
          Inc. does not control. You acknowledge that different terms of use and
          privacy policies may apply to your use of such third party services
          and content. Axxyl Inc. does not endorse such third party services and
          content and in no event shall Axxyl Inc. be responsible or liable for
          any products or services of such third party providers. Additionally,
          Apple Inc., Google, Inc., Microsoft Corporation or BlackBerry Limited
          will be a third-party beneficiary to this contract if you access the
          Services using Applications developed for Apple iOS, Android, or
          Microsoft Windows, mobile devices, respectively. These third party
          beneficiaries are not parties to this contract and are not responsible
          for the provision or support of the Services in any manner. Your
          access to the Services using these devices is subject to terms set
          forth in the applicable third party beneficiary's terms of service.
        </p>
        <h5>Ownership.</h5>
        <p>
          The Services and all rights therein are and shall remain Axxyl Inc.
          property or the property of Axxyl Inc. licensors. Neither these Terms
          nor your use of the Services convey or grant to you any rights: (i) in
          or related to the Services except for the limited license granted
          above; or (ii) to use or reference in any manner Axxyl Inc. company
          names, logos, product and service names, trademarks or services marks
          or those of Uber's licensors.
        </p>
        <h3>2. Access and Use of the Services</h3>
        <h5>User Accounts.</h5>
        <p>
          In order to use most aspects of the Services, you must register for
          and maintain an active personal user Services account ("Account"). You
          must be at least 18 years of age, or the age of legal majority in your
          jurisdiction (if different than 18), to obtain an Account, unless a
          specific Service permits otherwise. Account registration requires you
          to submit to Axxyl Inc. certain personal information, such as your
          name, address, mobile phone number , email and age, as well as at
          least one valid payment method supported by Axxyl Inc. You agree to
          maintain accurate, complete, and up-to-date information in your
          Account. Your failure to maintain accurate, complete, and up-to-date
          Account information, including having an invalid or expired payment
          method on file, may result in your inability to access or use the
          Services. You are responsible for all activity that occurs under your
          Account, and you agree to maintain the security and secrecy of your
          Account username and password at all times. Unless otherwise permitted
          by axxyl Inc. in writing, you may only possess one Account.
        </p>
        <h5>User Requirements and Conduct.</h5>
        <p>
          The Service is not available for use by persons under the age of 18.
          You may not authorize third parties to use your Account, and you may
          not allow persons under the age of 18 to receive transportation or
          logistics services from Third Party Providers unless they are
          accompanied by you. You may not assign or otherwise transfer your
          Account to any other person or entity. You agree to comply with all
          applicable laws when accessing or using the Services, and you may only
          access or use the Services for lawful purposes (e.g., no transport of
          unlawful or hazardous materials). You may not in your access or use of
          the Services cause nuisance, annoyance, inconvenience, or property
          damage, whether to the Third Party Provider or any other party. In
          certain instances you may be asked to provide proof of identity or
          other method of identity verification to access or use the Services,
          and you agree that you may be denied access to or use of the Services
          if you refuse to provide proof of identity or other method of identity
          verification.
        </p>
        <h5>Text Messaging and Telephone Calls.</h5>
        <p>
          You agree that Axxyl Inc. may contact you by telephone or text
          messages (including by an automatic telephone dialing system) at any
          of the phone numbers provided by you or on your behalf in connection
          with an Axxyl Inc. account, including for marketing purposes. You
          understand that you are not required to provide this consent as a
          condition of purchasing any property, goods or services. You also
          understand that you may opt out of receiving text messages from Axxyl
          Inc. at any time, either by email using the mobile device that is
          receiving the messages, or by contacting
          <a href="mailto:help@Axxyl.com">help@Axxyl.com</a>. If you do not
          choose to opt out, Axxyl Inc. may contact you as outlined in its User
          Privacy Statement, located at
        </p>
        <h5>User Provided Content.</h5>
        <p>
          Axxyl Inc. may, in Axxyl’s sole discretion, permit you from time to
          time to submit, upload, publish or otherwise make available to Axxyl
          through the Services textual, audio, and/or visual content and
          information, including commentary and feedback related to the
          Services, initiation of support requests, and submission of entries
          for competitions and promotions ("User Content"). Any User Content
          provided by you remains your property. However, by providing User
          Content to Axxyl Inc., you grant Axxyl Inc. a worldwide, perpetual,
          irrevocable, transferable, royalty-free license, with the right to
          sublicense, to use, copy, modify, create derivative works of,
          distribute, publicly display, publicly perform, and otherwise exploit
          in any manner such User Content in all formats and distribution
          channels now known or hereafter devised (including in connection with
          the Services and Axxyl’s business and on third-party sites and
          services), without further notice to or consent from you, and without
          the requirement of payment to you or any other person or entity.
        </p>
        <p>
          You represent and warrant that: (i) you either are the sole and
          exclusive owner of all User Content or you have all rights, licenses,
          consents and releases necessary to grant Uber the license to the User
          Content as set forth above; and (ii) neither the User Content, nor
          your submission, uploading, publishing or otherwise making available
          of such User Content, nor Axxyl’s use of the User Content as permitted
          herein will infringe, misappropriate or violate a third party's
          intellectual property or proprietary rights, or rights of publicity or
          privacy, or result in the violation of any applicable law or
          regulation.
        </p>
        <p>
          You agree to not provide User Content that is defamatory, libelous,
          hateful, violent, obscene, pornographic, unlawful, or otherwise
          offensive, as determined by Axxyl Inc. in its sole discretion, whether
          or not such material may be protected by law. Axxyl Inc. may, but
          shall not be obligated to, review, monitor, or remove User Content, at
          Uber's sole discretion and at any time and for any reason, without
          notice to you.
        </p>
        <h5>Network Access and Devices.</h5>
        <p>
          You are responsible for obtaining the data network access necessary to
          use the Services. Your mobile network's data and messaging rates and
          fees may apply if you access or use the Services from your device. You
          are responsible for acquiring and updating compatible hardware or
          devices necessary to access and use the Services and Applications and
          any updates thereto. Axxyl Inc. does not guarantee that the Services,
          or any portion thereof, will function on any particular hardware or
          devices. In addition, the Services may be subject to malfunctions and
          delays inherent in the use of the Internet and electronic
          communications.
        </p>
        <h3>3. Payment</h3>
        <p>
          You understand that use of the Services may result in charges to you
          for the services or goods you receive ("Charges"). Axxyl Inc. will
          receive and/or enable your payment of the applicable Charges for
          services or goods obtained through your use of the Services. Charges
          will be inclusive of applicable taxes and fees where required by law.
          Charges may include other applicable fees, tolls, and/or surcharges
          including a booking fee, municipal tolls, airport surcharges or
          processing fees for split payments. Please visit:
          <a href="http://axxyl.com/airports">www. axxyl.com/airports</a> for
          further information on your particular location.
        </p>
        <p>
          All Charges and payments will be enabled by Axxyl Inc. using the
          preferred payment method designated in your Account, after which you
          will receive a receipt by email. If your primary Account payment
          method is determined to be expired, invalid or otherwise not able to
          be charged, you agree that Axxyl Inc. may use a secondary payment
          method in your Account, if available. Charges paid by you are final
          and non-refundable, unless otherwise determined by Axxyl Inc..
        </p>
        <p>
          As between you and Axxyl Inc., Axxyl Inc. reserves the right to
          establish, remove and/or revise Charges for any or all services or
          goods obtained through the use of the Services at any time in Axxyl’s
          sole discretion. Further, you acknowledge and agree that Charges
          applicable in certain geographical areas may increase substantially
          during times of high demand. Axxyl Inc. will use reasonable efforts to
          inform you of Charges that may apply, provided that you will be
          responsible for Charges incurred under your Account regardless of your
          awareness of such Charges or the amounts thereof. Axxyl Inc. may from
          time to time provide certain users with promotional offers and
          discounts that may result in different amounts charged for the same or
          similar services or goods obtained through the use of the Services,
          and you agree that such promotional offers and discounts, unless also
          made available to you, shall have no bearing on your use of the
          Services or the Charges applied to you. You may elect to cancel your
          request for Services at any time prior to the commencement of such
          Services, in which case you may be charged a cancellation fee on a
          Third Party Provider’s behalf. After you have received services or
          goods obtained through the Service, you will have the opportunity to
          rate your experience and leave additional feedback. Axxyl Inc. may use
          the proceeds of any Charges for any purpose, subject to any payment
          obligations it has agreed to with any Third Party Providers or other
          third parties.
        </p>
        <p>
          In certain cases, with respect to Third Party Providers, Charges you
          incur will be owed directly to Third Party Providers, and Axxyl Inc.
          will collect payment of those charges from you, on the Third Party
          Provider’s behalf as their limited payment collection agent, and
          payment of the Charges shall be considered the same as payment made
          directly by you to the Third Party Provider. In such cases, you retain
          the right to request lower Charges from a Third Party Provider for
          services or goods received by you from such Third Party Provider at
          the time you receive such services or goods, and Charges you incur
          will be owed to the Third Party Provider. Axxyl Inc. will respond
          accordingly to any request from a Third Party Provider to modify the
          Charges for a particular service or good. This payment structure is
          intended to fully compensate a Third Party Provider, if applicable,
          for the services or goods obtained in connection with your use of the
          Services. In all other cases, Charges you incur will be owed and paid
          directly to Axxyl Inc or its affiliates, where Axxyl Inc is solely
          liable for any obligations to Third Party Providers. In such cases,
          you retain the right to request lower Charges from Axxyl Inc. for
          services or goods received by you from a Third Party Provider at the
          time you receive such services or goods, and Axxyl Inc. will respond
          accordingly to any request from you to modify the Charges for a
          particular service or good. Except with respect to share ride(TNC)
          transportation services requested through the Application, Axxyl Inc.
          does not designate any portion of your payment as a tip or gratuity to
          a Third Party Provider. Any representation by Axxyl Inc. (on Acxyl
          Inc. website, in the Application, or in Axxyl Inc. marketing
          materials) to the effect that tipping is "voluntary," "not required,"
          and/or "included" in the payments you make for services or goods
          provided is not intended to suggest that Axxyl Inc. provides any
          additional amounts, beyond those described above, to a Third Party
          Provider you may use. You understand and agree that, while you are
          free to provide additional payment as a gratuity to any Third Party
          Provider who provides you with services or goods obtained through the
          Service, you are under no obligation to do so. Gratuities are
          voluntary.
        </p>
        <h5>Repair, Cleaning or Lost and Found Fees.</h5>
        <p>
          You shall be responsible for the cost of repair for damage to, or
          necessary cleaning of, vehicles and property resulting from use of the
          Services under your Account in excess of normal "wear and tear"
          damages and necessary cleaning ("Repair or Cleaning"). In the event
          that a Repair or Cleaning request is verified by Axxyl Inc or Axxyl
          Inc. reasonable discretion, Axxyl Inc. reserves the right to
          facilitate payment for the reasonable cost of such Repair or Cleaning
          using your payment method designated in your Account. Such amounts, as
          well as those pertaining to lost and found goods, will be transferred
          by Axxyl Inc. to a Third Party Provider, if applicable, and are
          non-refundable.
        </p>
        <p>
          The amounts related to repair, cleaning or lost & found fees
          applicable in Puerto Rico can be found at
          <a href="http://axxyl.com">axxyl.com</a> and updated from time to time
          solely by Axxyl Inc.
        </p>
        <h3>4. Disclaimers; Limitation of Liability; Indemnity.</h3>
        <h5>DISCLAIMER.</h5>
        <p>
          THE SERVICES ARE PROVIDED "AS IS" AND "AS AVAILABLE." AXXYL INC.
          DISCLAIMS ALL REPRESENTATIONS AND WARRANTIES, EXPRESS, IMPLIED, OR
          STATUTORY, NOT EXPRESSLY SET OUT IN THESE TERMS, INCLUDING THE IMPLIED
          WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
          NON-INFRINGEMENT. IN ADDITION, AXXYL INC. MAKES NO REPRESENTATION,
          WARRANTY, OR GUARANTEE REGARDING THE RELIABILITY, TIMELINESS, QUALITY,
          SUITABILITY, OR AVAILABILITY OF THE SERVICES OR ANY SERVICES OR GOODS
          REQUESTED THROUGH THE USE OF THE APPLICATION (mobile app))SERVICES, OR
          THAT THE SERVICES WILL BE UNINTERRUPTED OR ERROR-FREE. AXXYL INC. DOES
          NOT GUARANTEE THE QUALITY, SUITABILITY, SAFETY OR ABILITY OF THIRD
          PARTY PROVIDERS. YOU AGREE THAT THE ENTIRE RISK ARISING OUT OF YOUR
          USE OF THE SERVICES, AND ANY SERVICE OR GOOD REQUESTED IN CONNECTION
          THEREWITH, REMAINS SOLELY WITH YOU, TO THE MAXIMUM EXTENT PERMITTED
          UNDER APPLICABLE LAW.
        </p>
        <h5>LIMITATION OF LIABILITY.</h5>
        <p>
          AXXYL INC. SHALL NOT BE LIABLE FOR INDIRECT, INCIDENTAL, SPECIAL,
          EXEMPLARY, PUNITIVE, OR CONSEQUENTIAL DAMAGES, INCLUDING LOST PROFITS,
          LOST DATA, PERSONAL INJURY, OR PROPERTY DAMAGE RELATED TO, IN
          CONNECTION WITH, OR OTHERWISE RESULTING FROM ANY USE OF THE
          APPLICATION SERVICES, REGARDLESS OF THE NEGLIGENCE (EITHER ACTIVE,
          AFFIRMATIVE, SOLE, OR CONCURRENT) OF AXXYL INC. , EVEN IF AXXYL INC.
          HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
        </p>
        <p>
          AXXYL INC. SHALL NOT BE LIABLE FOR ANY DAMAGES, LIABILITY OR LOSSES
          ARISING OUT OF: (i) YOUR USE OF OR RELIANCE ON THE SERVICES OR YOUR
          INABILITY TO ACCESS OR USE THE SERVICES; OR (ii) ANY TRANSACTION OR
          RELATIONSHIP BETWEEN YOU AND ANY THIRD PARTY PROVIDER, EVEN IF AXXYL
          INC. HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. AXXYL INC.
          SHALL NOT BE LIABLE FOR DELAY OR FAILURE IN PERFORMANCE RESULTING FROM
          CAUSES BEYOND AXXYL InC. REASONABLE CONTROL. YOU ACKNOWLEDGE THAT
          THIRD PARTY PROVIDERS PROVIDING TRANSPORTATION SERVICES REQUESTED
          THROUGH SOME REQUEST PRODUCTS MAY OFFER RIDESHARING OR PEER-TO-PEER
          TRANSPORTATION SERVICES AND MAY NOT BE PROFESSIONALLY LICENSED OR
          PERMITTED.
        </p>
        <p>
          THE SERVICES MAY BE USED BY YOU TO REQUEST AND SCHEDULE
          TRANSPORTATION, GOODS, OR LOGISTICS SERVICES WITH THIRD PARTY
          PROVIDERS, BUT YOU AGREE THAT UBER HAS NO RESPONSIBILITY OR LIABILITY
          TO YOU RELATED TO ANY TRANSPORTATION, GOODS OR LOGISTICS SERVICES
          PROVIDED TO YOU BY THIRD PARTY PROVIDERS OTHER THAN AS EXPRESSLY SET
          FORTH IN THESE TERMS.
        </p>
        <p>
          THE LIMITATIONS AND DISCLAIMER IN THIS SECTION DO NOT PURPORT TO LIMIT
          LIABILITY OR ALTER YOUR RIGHTS AS A CONSUMER THAT CANNOT BE EXCLUDED
          UNDER APPLICABLE LAW. BECAUSE SOME STATES OR JURISDICTIONS DO NOT
          ALLOW THE EXCLUSION OF OR THE LIMITATION OF LIABILITY FOR
          CONSEQUENTIAL OR INCIDENTAL DAMAGES, IN SUCH STATES OR JURISDICTIONS,
          AXXYL's LIABILITY SHALL BE LIMITED TO THE EXTENT PERMITTED BY LAW.
          THIS PROVISION SHALL HAVE NO EFFECT ON AXXYL's CHOICE OF LAW PROVISION
          SET FORTH BELOW.
        </p>
        <h5>Indemnity.</h5>
        <p>
          You agree to indemnify and hold AXXYL INC. and its affiliates and
          their officers, directors, employees, and agents harmless from any and
          all claims, demands, losses, liabilities, and expenses (including
          attorneys' fees), arising out of or in connection with: (i) your use
          of the Services or services or goods obtained through your use of the
          Services; (ii) your breach or violation of any of these Terms; (iii)
          Axxyl Inc.’s use of your User Content; or (iv) your violation of the
          rights of any third party, including Third Party Providers.
        </p>
        <h3>5. Other Provisions</h3>
        <h3>Choice of Law.</h3>
        <p>
          These Terms are governed by and construed in accordance with the laws
          of the State of Arizona, U.S.A., without giving effect to any conflict
          of law principles, except as may be otherwise provided in the
          Arbitration Agreement above or in supplemental terms applicable to
          your region. However, the choice of law provision regarding the
          interpretation of these Terms is not intended to create any other
          substantive right to non-Arizona to assert claims under Arizona law
          whether that be by statute, common law, or otherwise. These
          provisions, and except as otherwise provided in Section 2 of these
          Terms, are only intended to specify the use of Arizona law to
          interpret these Terms and the forum for disputes asserting a breach of
          these Terms, and these provisions shall not be interpreted as
          generally extending Arizona law to you if you do not otherwise reside
          in Arizona. The foregoing choice of law and forum selection provisions
          do not apply to the arbitration clause in Section 2 or to any
          arbitrable disputes as defined therein. Instead, as described in
          Section 2, the Federal Arbitration Act shall apply to any such
          disputes.
        </p>
        <h5>Claims of Copyright Infringement.</h5>
        <p>
          Claims of copyright infringement should be sent to Axxyl Inc.
          designated agent. Please visit Uber's web page at
          <a
            href="https://www.uber.com/legal/intellectual-property/copyright/global"
            target="_blank"
            >www.info@axxyl.com</a
          >
          address and additional information.
        </p>
        <h5>Notice</h5>
        <p>
          Axxyl Inc. may give notice by means of a general notice on the
          Services, electronic mail to your email address in your Account,
          telephone or text message to any phone number provided in connection
          with your account, or by written communication sent by first class
          mail or pre-paid post to any address connected with your Account. Such
          notice shall be deemed to have been given upon the expiration of 48
          hours after mailing or posting (if sent by first class mail or
          pre-paid post) or 12 hours after sending (if sent by email or
          telephone). You may give notice to Axxyl Inc., with such notice deemed
          given when received by Axxyl Inc. , at any time by first class mail or
          pre-paid post to our registered agent for service of process, c/o
          Axxyl Inc. The name and current contact information for the registered
          agent in each state are available online at
          <a href="mailto:info@axxyl.com">info@axxyl.com</a>
        </p>
        <h5>General.</h5>
        <p>
          You may not assign these Terms without Axxyl Inc. prior written
          approval. Axxyl Inc may assign these Terms without your consent to:
          (i) a subsidiary or affiliate; (ii) an acquirer of Axxyl Inc. equity,
          business or assets; or (iii) a successor by merger. Any purported
          assignment in violation of this section shall be void. No joint
          venture, partnership, employment, or agency relationship exists
          between you, Axxyl Inc. or any Third Party Provider as a result of
          this Agreement or use of the Services. If any provision of these Terms
          is held to be invalid or unenforceable, such provision shall be struck
          and the remaining provisions shall be enforced to the fullest extent
          under law. Axxyl inc.’s failure to enforce any right or provision in
          these Terms shall not constitute a waiver of such right or provision
          unless acknowledged and agreed to by Axxyl Inc. in writing. This
          provision shall not affect the Severability and Survivability section
          of the Arbitration Agreement of these Terms.
        </p>
        <p>
          <strong
            >Rules and Governing Law. Arizona Statutes (ARS § 12-133) and
            Arizona Rules of Civil Procedure (ARCP 72-77)</strong
          >
        </p>
        <p>
          The arbitration will be administered by the American Arbitration
          Association ("AAA") in accordance with the AAA’s Consumer Arbitration
          Rules and the Supplementary Procedures for Consumer Related Disputes
          (the "AAA Rules") then in effect, except as modified by this
          Arbitration Agreement. The AAA Rules are available at www.adr.org or
          by calling the AAA at 1-800-778-7879.
        </p>
        <p>
          The parties agree that the arbitrator (“Arbitrator”), and not any
          federal, state, or local court or agency, shall have exclusive
          authority to resolve any disputes relating to the interpretation,
          applicability, enforceability or formation of this Arbitration
          Agreement, including any claim that all or any part of this
          Arbitration Agreement is void or voidable. The Arbitrator shall also
          be responsible for determining all threshold arbitrability issues,
          including issues relating to whether the Terms are unconscionable or
          illusory and any defense to arbitration, including waiver, delay,
          laches, or estoppel.
        </p>
        <p>
          Notwithstanding any choice of law or other provision in the Terms, the
          parties agree and acknowledge that this Arbitration Agreement
          evidences a transaction involving interstate commerce and that the
          Federal Arbitration Act, 9 U.S.C. § 1 et seq. (“FAA”), will govern its
          interpretation and enforcement and proceedings pursuant thereto. It is
          the intent of the parties that the FAA and AAA Rules shall preempt all
          state laws to the fullest extent permitted by law. If the FAA and AAA
          Rules are found to not apply to any issue that arises under this
          Arbitration Agreement or the enforcement thereof, then that issue
          shall be resolved under the laws of the state of Arizona.
        </p>
      </div>
    </div>
  </div>
</section>
